/src/config.py
/src/KivyMD
/src/KivyMD/*
/src/Lib
/src/app.py
/src/Lib/*
/src/Scripts
/src/Scripts/*
/src/pyvenv.cfg 
pyvenv.cfg 
lib/
bin/
.vscode
include/
Savender/
Savender/*
books.csv
Outline.txt
/KivyMD/
/KivyMD/*
src/__pycache__/
src/__pycache__/*
